<div ui-content-for="title">
  <span>SongSearch!</span>
</div>

<div class="scrollable" ui-state="searchBar">
    <input
        type="search"
        ng-model="form.keyword"
        class="form-control scrollable-header"
        placeholder="輸入你要查詢的關鍵字..." />
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="item in records | filter: form.keyword | limitTo: 50" class="list-group-item">
                <label>{{ item.sid }}</label> ({{ item.category }}) {{ item.label }} <span class="pull-right">{{ item.artist }}</span>
            </a>
        </div>
    </div>
</div>
